/**==================================================
                GOOGLE FONT CDN
==================================================**/
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

/**==================================================
                FONTS INFO START
==================================================**/
$futuraBK: 'Futura Bk';
$playfairDisplay: 'Playfair Display';
$jost: 'Jost';
$font-styles: ('normal': normal, 'italic': italic, 'oblique': oblique);
$font-weights: ('thin':100, 'light': 300, 'normal': normal, 'medium': 500, 'semibold': 600, 'bold': 700, 'black': 900);


// SET FONT-FAMILY
@function family($font-family) {
	@return inspect($value: $font-family);
}

// SET FONT-STYLE
@function style($style) {
	@return map-get($font-styles, $style);
}

// SET FONT-STYLE
@function size($size) {
	@return (($size / $base) + rem);
}

// SET FONT-WEIGHT
@function weight($weight) {
	@return map-get($font-weights, $weight);
}

// SET LINE-HEIGHT
@function line-height($line-height, $size) {
	@return ($line-height / $size);
}

/**===============================================
                FONT STYLE MIXINS
===============================================**/

// FONT WITHOUT PATH
@mixin font-face($fontname, $fontstyle, $fontsize, $fontweight, $line-height) {
	font: {
		family: quote($fontname);
		style: $fontstyle;
		size: $fontsize;
		weight: $fontweight;
	}

	line-height: $line-height;
}

@font-face {
    font-family: 'Futura Bk';
    src: url('../fonts/Futura-Bk-Book/Futura-Book.woff2') format('woff2'),
        url('../fonts/Futura-Bk-Book/Futura-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}