/**=====================================================
                    JEWEL-STEPS
=====================================================**/
.jewelsteps {
    padding: length(40) length(0);

    @include breakpoint(mobile768) {
        padding: length(80) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(32);
    }

    &-header {
        @include flex-center;
        text-align: center;
    }

    &-title {
        @include font-face($playfairDisplay, style('normal'), size(34), weight('normal'), line-height(39, 34));
        color: $primary;
    }

    &-body {
        .jeewlinfo {
            @include flex-column;

            &:nth-child(odd) {
                text-align: right;
                justify-self: flex-end;
            }

            &:nth-child(even) {
                text-align: left;
                align-items: flex-start;
            }
        }
    }

    &-thumbnail {
        width: 100%;
        height: length(358);
        overflow: hidden;

        @include breakpoint(mobile768) {
            height: length(458);
        }

        img {
            @include wh100;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.1));
            }
        }
    }

    &-details {
        @include flex-column;
        gap: length(16);

        .steptitles {
            @include flex-column;
            gap: length(12);

            .stepsubtitle {
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(24, 14));
                color: $textStep;
                letter-spacing: length(3.44);
            }

            .stepstitle {
                @include font-face($playfairDisplay, style('normal'), size(24), weight('normal'), line-height(32, 24));
                color: $black;
            }
        }

        .steptext {
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(26, 16));
            color: $textStep;

            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
            }
        }
    }

}

/**=====================================================
                    HERO-BANNER
=====================================================**/
.herobanner {
    background: url(../images/pages/bespoke/bespoke-jewellery/bespok-jewellery-thumb.png) no-repeat center center/cover;
    padding: length(138) length(0);

    &-details {
        @include flex-center-column;
        gap: length(10);
        text-align: center;

        .herotitle {
            @include font-face($playfairDisplay, style('normal'), size(26), weight('normal'), line-height(33.8, 26));
            color: $white;
        }

        .herotext {
            @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(23.8, 14));
            color: $white;
            margin-bottom: length(22);
        }

        .btn-hero {
            @include font-face($futuraBK, style('normal'), size(12), weight('medium'), line-height(19.2, 12));
            padding: length(12) length(38);
            text-transform: uppercase;
            text-align: center;
            @include border(solid, 1, $white);
            @include setBgColor(transparent, $white);
            @include transitions;

            @include hover {
                @include setBgColor($white, $primary);
            }
        }
    }
}

/**=====================================================
                    DECORIES-DIAMONDS CREATION
=====================================================**/
.decoriscreations {
    padding: length(80) length(0);

    &-content {
        @include flex-center-column;
        gap: length(40);
        text-align: center;
        @include w100;
    }

    &-header {
        @include flex-center-column;
        gap: length(14);

        .decortitle {
            @include font-face($playfairDisplay, style('normal'), size(32), weight('normal'), line-height(40, 32));
            color: $primary;
        }

        .decoritext {
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(24, 16));
            color: $primary;

            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
            }
        }
    }

    &-body {
        @include w100;
    }
}

/**=====================================================
                    SEE-MORE
=====================================================**/
.bespoketestimonial {
    &-content {
        .carousel {
            height: length(382);
            margin: length(80) length(20);

            &-inner {
                @include wh100;
            }

            &-item {
                @include wh100;
            }

            &-caption {
                height: length(382);
                background: $testimonialBg;
                @include flex-center;
                padding: length(24) length(0);
            }
        }
    }
}

/**=====================================================
                    SEE-MORE
=====================================================**/
.seemore {
    padding: length(60) length(0);

    &-content {
        @include flex-column;
        gap: length(28);
    }

    &-header {
        @include flex-center-column;
        gap: length(10);
        text-align: center;
        @include w100;

        .seemoretitle {
            @include font-face($playfairDisplay, style('normal'), size(34), weight('normal'), line-height(40, 34));
            color: $primary;
        }

        .seemoretext {
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(24, 16));
            color: $secondary;

            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
            }
        }
    }
}