/**=====================================================
                    DIAMOND-BANNER
=====================================================**/
.diamondbanner {
    background: $bannerBg url(../images/pages/diamond/diamond-education/diamond-education.png) no-repeat center center/cover;
    padding: length(138) length(20);

    &-details {
        @include flex-center-column;
        gap: length(10);
        text-align: center;

        .diamondbannertitle {
            @include font-face($playfairDisplay, style('normal'), size(26), weight('normal'), line-height(33.8, 26));
            color: $white;

            @include breakpoint(mobile768) {
                @include font-face($playfairDisplay, style('normal'), size(48), weight('normal'), line-height(76.8, 48));
            }
        }

        .diamondbannertext {
            @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(23.8, 14));
            color: $white;
            margin-bottom: length(22);

            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(28.8, 18));
            }
        }

        .btn-hero {
            @include font-face($futuraBK, style('normal'), size(12), weight('medium'), line-height(19.2, 12));
            padding: length(12) length(38);
            text-transform: uppercase;
            text-align: center;
            @include border(solid, 1, $white);
            @include setBgColor(transparent, $white);
            @include transitions;

            @include hover {
                @include setBgColor($white, $primary);
            }
        }
    }
}

/**=====================================================
                    DIAMOND-SHOP
=====================================================**/
.diamondshop {
    padding: length(80) length(20);

    &-content {
        @include flex-column;
        gap: length(32);
    }

    &-header {
        @include flex-center-column;
        gap: length(12);
        text-align: center;

        .diamondshoptitle {
            @include font-face($playfairDisplay, style('normal'), size(26), weight('normal'), line-height(33.8, 26));
            color: $primary;

            @include breakpoint(mobile768) {
                @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
            }
        }

        .dimondshoptext {
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(24, 16));
            color: $secondary;

            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
            }
        }
    }

    &-body {
        @include flex-center-vert;
        flex-wrap: wrap;
        gap: length(20);
    }
}