/**=====================================================
                    HOME-BANNER
=====================================================**/

.home-banner {
    .banner-thumbnail {
        @include w100;
        height: auto;
        overflow: hidden;

        @include breakpoint(tab992) {
            height: length(640);
        }

        img {
            @include wh100;
            object-fit: contain;
            @include transitiontransform;

            @include breakpoint(tab992) {
                object-fit: cover;
            }

            @include hover {
                @include transform(scale(1.1));
            }
        }
    }
}

/**=====================================================
                    HOME-PRODUCT
=====================================================**/

.producthome {
    @include border-single(bottom, solid, 1, $dividerBg);
    padding: length(42) length(0);

    @include breakpoint(tab992) {
        padding: length(84) length(0);
    }
    
    &-content {
        @include flex-column;
        gap: length(48);

        @include breakpoint(tab992) {
            gap: length(100);
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(32);
        text-align: center;

        .homeproductstitle {
            color: $primary;
            @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
        }

        .textbox {
            max-width: length(970);

            .homeproductstext {
                color: $secondary;
                @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(27.2, 16));
            }
        }
    }
}

/**=====================================================
                    HOME-PRODUCT
=====================================================**/
.homeslider {
    @include border-single(bottom, solid, 1, $dividerBg);
    padding: length(42) length(20);

    @include breakpoint(tab992) {
        padding: length(84) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(48);

        @include breakpoint(tab992) {
            gap: length(100);
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(32);
        text-align: center;

        .homeslider-title {
            color: $primary;
            @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
        }

        .homeslider-text {
            color: $secondary;
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(27.2, 16));
        }
    }

    &-body {
        position: relative;

        .slider-controls {
            position: absolute;
            top: 40%;
            z-index: 100;
            @include flex-center-between;
            @include w100;

            .previous,
            .next {
                @include square(length(48));
                @include circle;
                @include flex-center;
                background: $white;
                box-shadow: $arrowshadow;
                padding: length(12);
            }

            .previous {
                @include breakpoint(mobile575) {
                    margin-left: length(-24);
                }
            }

            .next {
                @include breakpoint(mobile575) {
                    margin-right: length(-24);
                }
            }
        }
    }
}

/**=====================================================
                    LATEST-COLLECTIONS
=====================================================**/
.latestcollection {
    @include border-single(bottom, solid, 1, $dividerBg);
    padding: length(42) length(20);

    @include breakpoint(tab992) {
        padding: length(84) length(0);
    }

    &-content {
        @include flex-column;
        gap: length(48);

        @include breakpoint(tab992) {
            gap: length(100);
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(32);
        text-align: center;

        .collection-title {
            color: $primary;
            @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
        }

        .collection-text {
            color: $secondary;
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(27.2, 16));
        }
    }

    &-body {
        .collection {
            &-header {
                @include w100;
                height: length(420);
                overflow: hidden;

                img {
                    @include wh100;
                    object-fit: cover;
                    @include transitiontransform;

                    @include hover {
                        @include transform(scale(1.1));
                    }
                }
            }

            &-body {
                padding: length(56) length(24) length(20);
                @include flex-center-column;
                gap: length(56);

                .collection-title {
                    color: $primary;
                    @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
                }

                .btn-shop {
                    padding: length(12) length(38.5);
                    text-align: center;
                    @include setBgColor($white, $black);
                    @include border(solid, 2, $primary);
                    @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.5, 15));
                    @include transitions;

                    @include hover {
                        @include setBgColor($primary, $white);
                    }
                }
            }
        }
    }
}


/**=====================================================
                    LATEST-COLLECTIONS
=====================================================**/
.findmore {
    padding: length(80) length(0) length(48);

    @include breakpoint(tab992) {
        padding: length(150) length(0) length(100);
    }
}