/**=====================================================
                    HOME-BANNER
=====================================================**/
.homebanner {
    padding: length(44) length(0);
    background: $bannerBg;
    @include border-single( top, solid, 1, $dividerBg);
    @include border-single( bottom, solid, 1, $dividerBg);

    @include breakpoint(tab992) {
        border-top: none;
    }

    &-content {
        @include flex-column;
        gap: length(44);

        .banner-header {
            @include flex-center-column;
            gap: length(10);
            text-align: center;

            .banner-title {
                @include font-face($futuraBK, style('normal'), size(30), weight('normal'), line-height(40, 30));
                color: $primary;
            }

            .banner-text {
                @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(24, 15));
                color: $secondary;
            }
        }

        .banner-breadcrumb {
            @include flex-center;

            .breadcrumb {
                margin: length(0);
                gap: length(8);

                &-item {
                    @include flex-center-vert;
                    padding: length(0);
                    color: $secondary;
                    
                    &::before {
                        content: '';
                        padding: length(0);
                        display: none;
                    }

                    &.active {
                        color: $black;
                    }

                    a {
                        color: $secondary;
                        @include font-face($futuraBK, style('normal'), size(13), weight('normal'), line-height(20.8, 13));
                        @include transitions;

                        @include hover {
                            color: $black;
                        }
                    }
                }

                .divider {
                    @include flex-center;
                }
            }
        }
    }
}