@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap");
@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@-webkit-keyframes slideDownInMobile {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes slideDownInMobile {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes slideUpInMobile {
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
  100% {
    -webkit-transform: translateY(size(25));
            transform: translateY(size(25));
  }
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
}

@keyframes slideUpInMobile {
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
  100% {
    -webkit-transform: translateY(size(25));
            transform: translateY(size(25));
  }
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
}

@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/**==================================================
                GOOGLE FONT CDN
==================================================**/
/**==================================================
                FONTS INFO START
==================================================**/
/**===============================================
                FONT STYLE MIXINS
===============================================**/
@font-face {
  font-family: 'Futura Bk';
  src: url("../fonts/Futura-Bk-Book/Futura-Book.woff2") format("woff2"), url("../fonts/Futura-Bk-Book/Futura-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/**======================================
            HEADING STYLES
=======================================**/
.text {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.71429;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
button,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
input,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
main,
nav,
object,
ol,
output,
option,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
select,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

a::-moz-selection,
abbr::-moz-selection,
acronym::-moz-selection,
address::-moz-selection,
applet::-moz-selection,
article::-moz-selection,
aside::-moz-selection,
audio::-moz-selection,
b::-moz-selection,
big::-moz-selection,
blockquote::-moz-selection,
button::-moz-selection,
body::-moz-selection,
canvas::-moz-selection,
caption::-moz-selection,
center::-moz-selection,
cite::-moz-selection,
code::-moz-selection,
dd::-moz-selection,
del::-moz-selection,
details::-moz-selection,
dfn::-moz-selection,
div::-moz-selection,
dl::-moz-selection,
dt::-moz-selection,
em::-moz-selection,
embed::-moz-selection,
fieldset::-moz-selection,
figcaption::-moz-selection,
figure::-moz-selection,
footer::-moz-selection,
form::-moz-selection,
h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
h6::-moz-selection,
header::-moz-selection,
hgroup::-moz-selection,
html::-moz-selection,
i::-moz-selection,
input::-moz-selection,
iframe::-moz-selection,
img::-moz-selection,
ins::-moz-selection,
kbd::-moz-selection,
label::-moz-selection,
legend::-moz-selection,
li::-moz-selection,
mark::-moz-selection,
menu::-moz-selection,
main::-moz-selection,
nav::-moz-selection,
object::-moz-selection,
ol::-moz-selection,
output::-moz-selection,
option::-moz-selection,
p::-moz-selection,
pre::-moz-selection,
q::-moz-selection,
ruby::-moz-selection,
s::-moz-selection,
samp::-moz-selection,
section::-moz-selection,
small::-moz-selection,
span::-moz-selection,
strike::-moz-selection,
strong::-moz-selection,
sub::-moz-selection,
summary::-moz-selection,
select::-moz-selection,
sup::-moz-selection,
table::-moz-selection,
tbody::-moz-selection,
td::-moz-selection,
tfoot::-moz-selection,
th::-moz-selection,
thead::-moz-selection,
time::-moz-selection,
tr::-moz-selection,
tt::-moz-selection,
u::-moz-selection,
ul::-moz-selection,
var::-moz-selection,
video::-moz-selection {
  background: #333333;
  color: #ffffff;
}

a::selection,
abbr::selection,
acronym::selection,
address::selection,
applet::selection,
article::selection,
aside::selection,
audio::selection,
b::selection,
big::selection,
blockquote::selection,
button::selection,
body::selection,
canvas::selection,
caption::selection,
center::selection,
cite::selection,
code::selection,
dd::selection,
del::selection,
details::selection,
dfn::selection,
div::selection,
dl::selection,
dt::selection,
em::selection,
embed::selection,
fieldset::selection,
figcaption::selection,
figure::selection,
footer::selection,
form::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
header::selection,
hgroup::selection,
html::selection,
i::selection,
input::selection,
iframe::selection,
img::selection,
ins::selection,
kbd::selection,
label::selection,
legend::selection,
li::selection,
mark::selection,
menu::selection,
main::selection,
nav::selection,
object::selection,
ol::selection,
output::selection,
option::selection,
p::selection,
pre::selection,
q::selection,
ruby::selection,
s::selection,
samp::selection,
section::selection,
small::selection,
span::selection,
strike::selection,
strong::selection,
sub::selection,
summary::selection,
select::selection,
sup::selection,
table::selection,
tbody::selection,
td::selection,
tfoot::selection,
th::selection,
thead::selection,
time::selection,
tr::selection,
tt::selection,
u::selection,
ul::selection,
var::selection,
video::selection {
  background: #333333;
  color: #ffffff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.71429;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

figure {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-webkit-search-decoration:focus,
input[type="search"]::-webkit-search-cancel-button:focus,
input[type="search"]::-webkit-search-results-button:focus,
input[type="search"]::-webkit-search-results-decoration:focus {
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

textarea {
  resize: none;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

select {
  cursor: pointer;
}

/*------------------------------------*\
    breakpoint vars
\*------------------------------------*/
/*------------------------------------*\
    breakpoint functions
\*------------------------------------*/
/*------------------------------------*\
    breakpoint mixin
\*------------------------------------*/
/*------------------------------------*\
    breakpoint usage
\*------------------------------------*/
.decories-container {
  max-width: 107.5rem;
  margin-inline: auto;
}

/**=======================================================**
                        HEADER SECTION START
**=======================================================**/
.header {
  background: #ffffff;
}

.header-top {
  max-width: 107.5rem;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding: 1.25rem;
}

.header-top .headerlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
}

@media screen and (min-width: 62rem) {
  .header-top .headerlist {
    gap: 3.75rem;
  }
}

.header-top .headerlist-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}

.header-top .headerlist-link .icon {
  height: 1.125rem;
  width: 1.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.header-top .headerlist-link .icon svg {
  width: 100%;
  height: 100%;
}

.header-top .headerlist-link .text {
  display: none;
  color: #333333;
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.33333;
  text-transform: uppercase;
  letter-spacing: 0.01rem;
}

@media screen and (min-width: 62rem) {
  .header-top .headerlist-link .text {
    display: block;
  }
}

.header-top .headerlist-link:not([disabled]):hover svg path {
  stroke: #000000;
}

.header-top .headerlist-link:not([disabled]):hover .text {
  color: #000000;
}

.header-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  padding: 0rem 1.25rem 1.25rem;
}

.header-center .sitelogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 8.75rem;
  height: 4.375rem;
  overflow: hidden;
}

@media screen and (min-width: 62rem) {
  .header-center .sitelogo {
    width: 16.25rem;
    height: 5rem;
    margin-inline: auto;
  }
}

@media screen and (min-width: 48rem) {
  .header-center .sitelogo {
    width: 11.25rem;
    height: 4.375rem;
  }
}

.header-center .sitelogo img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 48rem) {
  .header-center .sitelogo img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.header-center .hamburger {
  display: block;
}

@media screen and (min-width: 62rem) {
  .header-center .hamburger {
    display: none;
  }
}

.header-center .hamburger .btn-hamburger {
  height: 1.5rem;
  width: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  background: transparent;
  border: none;
}

.header-bottom {
  display: none;
  border-top: solid 0.0625rem #DEE2E6;
  border-bottom: solid 0.0625rem #DEE2E6;
}

@media screen and (min-width: 62rem) {
  .header-bottom {
    display: block;
  }
}

.header-bottom .mainnav {
  max-width: 107.5rem;
  margin-inline: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2.25rem 1.25rem;
}

.header-bottom .mainnav .mainlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.75rem;
}

.header-bottom .mainnav .mainlist-link {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 1.0625rem;
  font-weight: normal;
  line-height: 1.29412;
  color: #333333;
  text-transform: uppercase;
  letter-spacing: 0.065rem;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.header-bottom .mainnav .mainlist-link:not([disabled]):hover {
  color: #000000;
}

/**=======================================================**
                        HEADER SECTION END
**=======================================================**/
/**=====================================================
                FOOTER SECTION START
=====================================================**/
.footer {
  padding: 5rem 1.25rem 1.5rem;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.footer-info .footerlogo {
  width: 6.5rem;
  height: 3.625rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-info .footerlogo img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-info .footertext {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.40833;
  color: #333333;
}

@media screen and (min-width: 30rem) {
  .footer-info .footertext {
    font-family: "Futura Bk";
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1.3;
  }
}

.footer-info .footerbrands {
  display: none;
}

@media screen and (min-width: 35.9375rem) {
  .footer-info .footerbrands {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 0.875rem;
  }
}

.footer-info .footerbrands .footbrandthumb {
  width: 9.375rem;
}

@media screen and (min-width: 48rem) {
  .footer-info .footerbrands .footbrandthumb {
    width: 12.5rem;
  }
}

.footer-info .footerbrands .footbrandthumb img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-details .footinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.875rem;
}

.footer-details .footinfo .footertitle {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.40833;
  color: #000000;
  text-transform: uppercase;
}

@media screen and (min-width: 48rem) {
  .footer-details .footinfo .footertitle {
    font-family: "Futura Bk";
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1.3;
  }
}

.footer-details .footinfo .footerlist-sociallist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.footer-details .footinfo .footerlist-sociallist .sociallist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.375rem;
}

.footer-details .footinfo .footerlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.footer-details .footinfo .footerlist-link {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.625;
  color: #969696;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

@media screen and (min-width: 30rem) {
  .footer-details .footinfo .footerlist-link {
    font-family: "Futura Bk";
    font-style: normal;
    font-size: 0.8125rem;
    font-weight: normal;
    line-height: 1.5;
  }
}

.footer-details .footinfo .footerlist-link:not([disabled]):hover {
  color: #000000;
}

/**=====================================================**
                        HOME-CARDS
=======================================================**/
.product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.product-header {
  width: 100%;
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media screen and (min-width: 35.9375rem) {
  .product-header {
    height: 17.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .product-header {
    height: 19.625rem;
  }
}

@media screen and (min-width: 62rem) {
  .product-header {
    height: 21.8125rem;
  }
}

.product-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background: rgba(0, 0, 0, 0.03);
}

.product-header img:not([disabled]):hover {
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
}

.product-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.product-title {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.6;
  color: #000000;
}

.product-title:not([disabled]):hover {
  color: #5A5A5A;
}

.product-category {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
}

.product-price {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.7;
  color: #000000;
}

@media screen and (min-width: 30rem) {
  .product-price {
    font-family: "Futura Bk";
    font-style: normal;
    font-size: 0.875rem;
    font-weight: normal;
    line-height: 1.6;
  }
}

.cardproduct {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.cardproduct-header {
  width: 100%;
  height: 17.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media screen and (min-width: 35.9375rem) {
  .cardproduct-header {
    height: 19.625rem;
  }
}

@media screen and (min-width: 48rem) {
  .cardproduct-header {
    height: 19.625rem;
  }
}

@media screen and (min-width: 62rem) {
  .cardproduct-header {
    height: 26.25rem;
  }
}

.cardproduct-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background: rgba(0, 0, 0, 0.03);
}

.cardproduct-header img:not([disabled]):hover {
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
}

.cardproduct-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
  text-align: center;
}

.cardproduct-title {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 1.6;
  color: #000000;
}

.cardproduct-title:not([disabled]):hover {
  color: #5A5A5A;
}

.cardproduct-text {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
  min-height: 4.1875rem;
}

.feature {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.feature-header {
  width: 100%;
  height: 12.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

@media screen and (min-width: 35.9375rem) {
  .feature-header {
    height: 17.5rem;
  }
}

@media screen and (min-width: 48rem) {
  .feature-header {
    height: 19.625rem;
  }
}

.feature-header img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background: rgba(0, 0, 0, 0.03);
}

.feature-header img:not([disabled]):hover {
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
}

.feature-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.feature-title {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.7;
  color: #000000;
}

.feature-text {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
}

.cardbrand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  text-align: center;
}

.cardbrand-header {
  overflow: hidden;
  max-height: 36.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cardbrand-header img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  background: rgba(0, 0, 0, 0.03);
}

.cardbrand-header img:not([disabled]):hover {
  -webkit-transform: scale(1.075);
  transform: scale(1.075);
}

.cardbrand-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.9375rem;
}

.cardbrand-body .brandtitle {
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 1.625rem;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.cardbrand-body .brandinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.cardbrand-body .brandinfo .brandtext {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.7;
  color: #5A5A5A;
}

.modal-content {
  border-radius: 0rem;
  border-radius: 0rem;
  overflow: hidden;
}

.modal-header {
  border-bottom: 0rem;
  padding: 2rem;
}

@media screen and (max-width: 35.9375rem) {
  .modal-header {
    padding: 1rem;
  }
}

.modal-header .btn-close {
  background: transparent;
  border: none;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  margin: 0rem;
  padding: 0rem;
}

.modal-header .btn-close:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-body {
  position: relative;
  min-height: 30rem;
}

@media screen and (max-width: 48rem) {
  .modal-body {
    min-height: 18.75rem;
  }
}

.offcanvas-top {
  height: 100vh;
  border-bottom: none;
}

.offcanvas-bottom {
  height: 100vh;
  border-top: none;
}

.offcanvas-start {
  border-right: none;
}

.offcanvas-end {
  border-left: 0;
}

.offcanvas {
  width: 100%;
}

.offcanvas-header .btn-close {
  height: 2.25rem;
  width: 2.25rem;
  background: transparent;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.offcanvas-header .btn-close svg {
  -webkit-transition: transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.offcanvas-header .btn-close svg path {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.offcanvas-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.offcanvas-header .btn-close:not([disabled]):hover svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.offcanvas-body::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}

.offcanvas-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 9999;
  background: #333333;
}

polygon {
  stroke: gray;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  -webkit-animation: 2s appear infinite forwards;
          animation: 2s appear infinite forwards;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

@-webkit-keyframes appear {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes appear {
  from {
    stroke-dashoffset: 500;
  }
  to {
    stroke-dashoffset: 0;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.topbar {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background: #333333;
}

.topbar-content .topbarlink {
  font-family: "Jost";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.42857;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.topbar-content .topbarlink:not([disabled]):hover {
  color: #b3b3b3;
}

/**=====================================================
                    HOME-BANNER
=====================================================**/
.homebanner {
  padding: 2.75rem 0rem;
  background: #F9F8F7;
  border-top: solid 0.0625rem #DEE2E6;
  border-bottom: solid 0.0625rem #DEE2E6;
}

@media screen and (min-width: 48rem) {
  .homebanner {
    padding: 5rem 0rem;
  }
}

@media screen and (min-width: 62rem) {
  .homebanner {
    border-top: none;
  }
}

.homebanner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.75rem;
}

.homebanner-content .banner-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
  text-align: center;
}

.homebanner-content .banner-header .banner-title {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 1.875rem;
  font-weight: normal;
  line-height: 1.33333;
  color: #333333;
}

.homebanner-content .banner-header .banner-text {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.6;
  color: #5A5A5A;
}

.homebanner-content .banner-breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homebanner-content .banner-breadcrumb .breadcrumb {
  margin: 0rem;
  gap: 0.5rem;
}

.homebanner-content .banner-breadcrumb .breadcrumb-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0rem;
  color: #5A5A5A;
}

.homebanner-content .banner-breadcrumb .breadcrumb-item::before {
  content: '';
  padding: 0rem;
  display: none;
}

.homebanner-content .banner-breadcrumb .breadcrumb-item.active {
  color: #000000;
}

.homebanner-content .banner-breadcrumb .breadcrumb-item a {
  color: #5A5A5A;
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.6;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.homebanner-content .banner-breadcrumb .breadcrumb-item a:not([disabled]):hover {
  color: #000000;
}

.homebanner-content .banner-breadcrumb .breadcrumb .divider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**=====================================================
                    HOME-FILTER
=====================================================**/
.homefilter {
  padding: 2.5rem 1.25rem;
}

.homefilter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.125rem;
}

.homefilter-header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 35.9375rem) {
  .homefilter-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.homefilter-header .filter-result {
  width: 100%;
}

@media screen and (min-width: 35.9375rem) {
  .homefilter-header .filter-result {
    width: 50%;
  }
}

.homefilter-header .filter-result .result {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
}

.homefilter-header .filter-sorting {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

@media screen and (min-width: 35.9375rem) {
  .homefilter-header .filter-sorting {
    width: 50%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.homefilter-header .filter-sorting .sorting .form-select {
  border: none;
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
}

.homefilter-header .filter-sorting .sorting .form-select:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  border: none;
}

.homefilter-header .filter-sorting .filter .btn-filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
  padding: 0.3125rem;
  width: 6rem;
  height: 2rem;
  border: solid 0.0625rem #333333;
  background: #ffffff;
}

.homefilter-header .filter-sorting .filter .btn-filter .icon {
  height: 1rem;
  width: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.homefilter-header .filter-sorting .filter .btn-filter .btntext {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.6;
  color: #333333;
}

.homefilter-header .filter-sorting .filter .btn-filter:not([disabled]):hover {
  background: #333333;
}

.homefilter-header .filter-sorting .filter .btn-filter:not([disabled]):hover .icon svg path {
  stroke: #e6e6e6;
}

.homefilter-header .filter-sorting .filter .btn-filter:not([disabled]):hover .btntext {
  color: #e6e6e6;
}

.homefilter-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5rem;
  width: 100%;
}

@media screen and (min-width: 35.9375rem) {
  .homefilter-body {
    gap: 2.75rem 1.5rem;
  }
}

.homefilter-body .productlink {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: calc((100% / 2) - 1.5rem);
  -webkit-margin-end: auto;
          margin-inline-end: auto;
}

@media screen and (min-width: 48rem) {
  .homefilter-body .productlink {
    width: calc((100% / 3) - 1.5rem);
  }
}

@media screen and (min-width: 62rem) {
  .homefilter-body .productlink {
    width: calc((100% / 4) - 1.5rem);
  }
}

@media screen and (min-width: 87.5rem) {
  .homefilter-body .productlink {
    width: calc((100% / 5) - 1.5rem);
  }
}

/**=====================================================
                    TESTIMONIAL
=====================================================**/
.testimonial {
  background: #FDF9F2;
  padding: 2.5rem 1.25rem;
}

@media screen and (min-width: 48rem) {
  .testimonial {
    padding: 5rem 0rem;
  }
}

.testimonial-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  text-align: center;
}

.testimonial-content .testimonialtext {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.6;
  color: #5A5A5A;
}

/**=====================================================
                    RING-STYLE
=====================================================**/
.ringstyle {
  padding: 2.5rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 48rem) {
  .ringstyle {
    gap: 5rem;
  }
}

.ringstyle .divider {
  width: 100%;
  height: 0.0625rem;
  background: #DEE2E6;
}

.ringstyle-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
  text-align: center;
}

.ringstyle-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
}

.ringstyle-details .weddingstyletitle {
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 1.875rem;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.ringstyle-details .weddingstyletext {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.7;
  color: #5A5A5A;
}

/**=====================================================
                    DEPTH-AND-WIDTH
=====================================================**/
.depthandwidth {
  padding: 0rem 1.25rem 2.5rem;
}

.depthandwidth-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  text-align: center;
}

.depthandwidth-details .depthtitle {
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 1.875rem;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.depthandwidth-details .depthinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.375rem;
}

.depthandwidth-details .depthinfo-text {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.9375rem;
  font-weight: normal;
  line-height: 1.7;
  color: #5A5A5A;
}

/**=====================================================
                    HOME-PRODUCTS
=====================================================**/
.homeproducts {
  padding: 0rem 1.25rem 2.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 48rem) {
  .homeproducts {
    gap: 5rem;
  }
}

.homeproducts .divider {
  width: 100%;
  height: 0.0625rem;
  background: #DEE2E6;
}

.homeproducts-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2.5rem 1.875rem;
}

.homeproducts-content .productlink {
  width: 60%;
  margin-inline: auto;
  height: 100%;
}

@media screen and (min-width: 30rem) {
  .homeproducts-content .productlink {
    width: 46%;
    margin: 0;
  }
}

@media screen and (min-width: 62rem) {
  .homeproducts-content .productlink {
    width: 31%;
  }
}

/**=====================================================
                    HOME-BRANDS
=====================================================**/
.homebrands {
  padding: 2.5rem 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 48rem) {
  .homebrands {
    gap: 5rem;
  }
}

.homebrands .divider {
  width: 100%;
  height: 0.0625rem;
  background: #DEE2E6;
}

.homebrands-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4.25rem 1.875rem;
}

@media screen and (min-width: 62rem) {
  .homebrands-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/**=====================================================
                    PRODUCT-INFO
=====================================================**/
.productinfo {
  padding: 2.5rem 1.25rem;
}

.productinfo-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.25rem;
  text-align: center;
}

.productinfo-details .infobox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.75rem;
}

.productinfo-details .infobox .infotitle {
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 1.625rem;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
}

.productinfo-details .infobox .infotexts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5rem;
}

.productinfo-details .infobox .infotexts .infotext {
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.875rem;
  font-weight: normal;
  line-height: 1.7;
  color: #5A5A5A;
}

/**=====================================================
                    NEWSLETTER
=====================================================**/
.newsletter {
  background: #F9F8F8;
  padding: 5rem 1.25rem;
  text-align: center;
}

.newsletter-title {
  font-family: "Playfair Display";
  font-style: normal;
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 1.435;
  color: #333333;
  letter-spacing: -0.015rem;
}

@media screen and (min-width: 30rem) {
  .newsletter-title {
    font-family: "Playfair Display";
    font-style: normal;
    font-size: 1.8125rem;
    font-weight: normal;
    line-height: 1.3;
  }
}

.newsletter-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
}

.newsletter-content .subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
}

@media screen and (min-width: 62rem) {
  .newsletter-content .subscribe {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.newsletter-content .subscribe .inputbox {
  width: 100%;
}

@media screen and (min-width: 62rem) {
  .newsletter-content .subscribe .inputbox {
    width: 25.75rem;
  }
}

.newsletter-content .subscribe .inputbox .inputfield {
  width: 100%;
  padding: 0.75rem 1.125rem;
  font-family: "Futura Bk";
  font-style: normal;
  font-size: 0.8125rem;
  font-weight: normal;
  line-height: 1.3;
  color: #333333;
  border: solid 0.0625rem transparent;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.newsletter-content .subscribe .inputbox .inputfield::-webkit-input-placeholder {
  color: #7C7C7C;
}

.newsletter-content .subscribe .inputbox .inputfield:-ms-input-placeholder {
  color: #7C7C7C;
}

.newsletter-content .subscribe .inputbox .inputfield::-ms-input-placeholder {
  color: #7C7C7C;
}

.newsletter-content .subscribe .inputbox .inputfield::placeholder {
  color: #7C7C7C;
}

.newsletter-content .subscribe .inputbox .inputfield:focus {
  border-color: #5A5A5A;
}

.newsletter-content .subscribe .submitbox .btn-submit {
  padding: 0.625rem 1.375rem;
  text-align: center;
  background: #353535;
  color: #ffffff;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.newsletter-content .subscribe .submitbox .btn-submit:not([disabled]):hover {
  background: #0f0f0f;
}
