.decories-container {
    max-width: length(1720);
    width: 100%;
    padding: length(0) length(20);
    margin-inline: auto;
}

.dimond-container {
    padding: length(0) length(20);
    max-width: length(1320);
    width: 100%;
    margin-inline: auto;
}