.btn-ringsize {
  @include flex-center;
  gap: length(16);
  padding: length(13) length(13) length(11);
  @include w100;
  @include setBgColor(transparent, $secondary);
  @include border(solid, 2, $secondary);
  @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(19.2, 12));
  text-align: center;
  text-transform: uppercase;
  @include transitions;
  @include radius(4);

  .icon {
    @include flex-center;
  }

  @include hover {
    @include setBgColor($secondary, $white);

    svg {
      path {
        stroke: $white;
      }
    }
  }
}

.btn-selectsize {
  @include setBgColor($white, $secondary);
  @include border(solid, 1, $inputBorder);
  @include radius(4);
  @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(14.38, 12));
  padding: length(10);
  height: length(48);
  @include transitions;
  
  @include hover {
    @include setBgColor($secondary, $white);
  }
}

.btn-select {
  @include setBgColor($white, $secondary);
  @include border(solid, 1, $inputBorder);
  @include radius(4);
  @include flex-center;
  @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(14.38, 12));
  padding: length(10);
  @include transitions;
  width: length(64);
  height: length(48);
  text-align: center;
  
  @include hover {
    @include setBgColor($secondary, $white);
  }
}

.btn-card,
.findmore-link,
.btn-addtocart,
.btn-checks,
.btn-filter,
.btn-shop,
.btn-hero,
.btn-checkout,
.btn-view,
.btn-submit {
  @include radius(4);
}