/**=====================================================**
                        HOME-CARDS
=======================================================**/

// 01. CARD-CONCERN
// 02. CARD-SERVICE
// 03. CARD-CLIENT

/* CARD-CONCERN START */
.card-concern {
    @include flex-center-vert;
    background: $white;
    width: length(312);
    height: length(90);
    cursor: pointer;

    @include breakpoint(phone768) {
        @include w100;
    }

    &-thumbnail {
        @include flex-center;
        overflow: hidden;
        width: length(130);
        @include h100;
        padding: length(10) length(34);

        img {
            max-width: 100%;
            object-fit: contain;
            height: 100%;
        }
    }

    &-details {
        @include border-single(left, solid, 1, $gray-200);
        @include flex-center;
        text-align: center;
        padding: length(10);
        width: calc(100% - 8.125rem);
        @include h100;
        background: $white;

        .concern-title {
            @include font-face($raleway, style('normal'), size(16), weight('medium'), line-height(26, 16));
            color: $gray-600;
            font-feature-settings: 'salt'on;
        }
    }

    @include hover {
        filter: $shadowBig;

        .card-concern-details {
            background: $concernHoverBg;
            border-color: $concernHoverBg;

            .concern-title {
                color: $white;
            }
        }
    }
}

/* CARD-CONCERN END */

/* CARD-SERVICE START */
.card-service {
    background: $white;
    @include flex-center-column;
    gap: length(8);
    width: calc((100% / 5) - 1.5rem);
    padding: length(60) length(48);
    overflow: hidden;
    position: relative;
    height: 100%;

    @include breakpoint(desktop1400) {
        width: calc((100% / 4) - 1.5rem);
        padding: length(48) length(32);
    }

    @include breakpoint(tablet991) {
        width: calc((100% / 3) - 1.5rem);
    }

    @include breakpoint(phone768) {
        width: calc((100% / 2) - 1.5rem);
    }

    .counter {
        position: absolute;
        top: length(-8);
        left: length(-8);
        @include square(length(52));
        @include circle;
        @include flex-center;
        text-align: center;
        @include setBgColor($gradient-3, $white);
        @include font-face($raleway,
            style('normal'),
            weight('semibold'),
            size(20),
            line-height(27.3, 20));
        overflow: hidden;
    }

    &-header {
        .serviceicon {
            background: $gradient-2;
            @include square(length(70));
            @include flex-center;
            @include circle;
            padding: length(15);
        }
    }

    &-body {
        @include w100;
        @include flex-center-column;
        gap: length(8);
        overflow: hidden;
        text-align: center;

        .service-title {
            color: $gray-600;
            @include text-overflow;
        }

        .serviceinfo {
            display: none;

            .service-text {
                color: $gray-600;
            }
        }
    }

    @include hover {
        cursor: pointer;

        .card-service-body {
            .serviceinfo {
                display: block;
            }
        }
    }
}

/* CARD-SERVICE END */

/* CARD SERVICE-INFO START */
.card-serviceinfo {
    overflow: hidden;
    position: relative;

    &-thumbnail {
        @include w100;
        height: length(720);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                // @include transform(scale(1.05));
            }
        }
    }

    .service-detail {
        position: absolute;
        top: length(0);
        left: length(0);
        @include wh100;
        z-index: 10;
        padding: length(34) length(28);
        @include flex-column;
        gap: length(24);

        .service-header {
            @include flex-center-vert;
            gap: length(8);

            .icon {
                width: length(30);
                height: length(54);
                @include flex-center;

                img {
                    max-width: 100%;
                }
            }

            .servicetitle {
                color: $white;
            }
        }

        .service-body {
            display: none;

            .servicetext {
                color: $white;
            }
        }
    }

    @include hover {
        .service-detail {
            background: rgba($black, 0.5);

            .service-body {
                display: block;
            }
        }
    }
}

/* CARD SERVICE-INFO END */

/* CARD CLIENT START */
.card-client {
    @include flex-center;
    overflow: hidden;
    height: length(174);
    padding: length(20);
    cursor: pointer;
    @include border(solid, 1, $gray-300);

    img {
        max-width: 100%;
        object-fit: contain;
        @include transitiontransform;
    }

    @include hover {
        img {
            @include transform(scale(1.1));
        }
    }
}

/* CARD CLIENT END */