/**=====================================================**
                        HOME-CARDS
=======================================================**/
// PRODUCT STYLE START

.product {
    @include w100;
    @include flex-center-column;
    gap: length(18);
    position: relative;

    .btn-wishlist {
        position: absolute;
        top: length(20);
        right: length(20);
        @include square(length(30));
        @include flex-center;
        @include transparent-button;
        z-index: 100;

        // svg {
        //     path {
        //         @include transitions;
        //     }
        // }

        i {
            color: $textSchedule;
            font-size: length(48);
            font-weight: 600;
        }

        @include hover {
            i {
                color: $primary;
            }

            // svg {
            //     path {
            //         stroke: $primary;
            //     }
            // }
        }
    }

    &-header {
        @include w100;
        height: length(200);
        @include flex-center;
        @include transition(transform 0.5s ease);
        transform-style: preserve-3d;

        @include breakpoint(mobile575) {
            height: length(280);
        }

        @include breakpoint(mobile768) {
            height: length(314);
        }

        @include breakpoint(tab992) {
            height: length(349);
        }

        .front,
        .back {
            position: absolute;
            @include wh100;
            @include flex-center;

            /* Safari */
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            transition: 1s;

            img {
                @include wh100;
                object-fit: contain;
                @include transitiontransform;
                background: rgba($black, 0.03);

                @include hover {
                    @include transform(scale(1.075));
                }
            }
        }

        .back {
            @include transform(rotateY(-180deg));
            z-index: 2;
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(16);

        .productinfos {
            @include flex-center-column;
            text-align: center;
        }

        .colors {
            @include flex-center-vert;
            gap: length(15);

            .colourbox {
                @include square(length(18));
                @include border(solid, 0.75, transparent);
                @include circle;
                @include flex-center;
                cursor: pointer;
                overflow: hidden;

                .colour {
                    @include square(length(12));
                    @include circle;
                }
            }
        }

        .viewproduct {
            @include flex-center;

            .btn-view {
                display: inline-block;
                padding: length(12) length(40);
                @include border(solid, 2, $primary);
                @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(19.2, 12));
                @include setBgColor($white, $black);
                @include transitions;

                @include hover {
                    @include setBgColor($primary, $white);
                }
            }
        }
    }

    &-title {
        // @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(19, 16));
        color: $black;

        @include hover {
            color: $secondary;
        }
    }

    &-category {
        @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(26, 14));
        color: $primary;
    }

    &-price {
        color: $black;
        @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(17, 12));

        @include breakpoint(mobile768) {

            @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(25, 18));
        }
    }

    @include hover {
        .product-header {
            @include transform(rotateY(-180deg));
        }
    }
}

// PRODUCT STYLE END

// PRODUCTCARD STYLE START

.cardproduct {
    @include w100;
    @include flex-center-column;
    gap: length(18);

    &-header {
        @include w100;
        height: length(280);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile575) {
            height: length(314);
        }

        @include breakpoint(mobile768) {
            height: length(314);
        }

        @include breakpoint(tab992) {
            height: length(420);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;
            background: rgba($black, 0.03);

            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(12);
        text-align: center;
    }

    &-title {
        @include font-face($futuraBK, style('normal'), size(24), weight('normal'), line-height(34, 24));
        color: $black;

        @include hover {
            color: $secondary;
        }
    }

    &-text {
        @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(26, 16));
        color: $primary;
        min-height: length(67);

        @include breakpoint(mobile768) {
            @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
        }
    }
}

// PRODUCTCARD STYLE END

// FEATURE STYLE START

.feature {
    @include w100;
    @include flex-center-column;
    gap: length(18);

    &-header {
        @include w100;
        height: length(200);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile575) {
            height: length(280);
        }

        @include breakpoint(mobile768) {
            height: length(314);
        }

        img {
            @include wh100;
            object-fit: contain;
            @include transitiontransform;
            background: rgba($black, 0.03);

            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(8);
        text-align: center;
    }

    &-title {
        @include font-face($futuraBK, style('normal'), size(24), weight('normal'), line-height(38, 24));
        color: $black;
    }

    &-text {
        @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(26, 16));
        color: $primary;

        @include breakpoint(mobile768) {
            @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
        }
    }
}

// FEATURE STYLE END

// FEATURE STYLE START

.diamond {
    @include w100;
    @include flex-center-column;
    gap: length(18);

    &-header {
        @include w100;
        height: length(200);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile575) {
            height: length(280);
        }

        @include breakpoint(mobile768) {
            height: length(388);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;
            background: rgba($black, 0.03);

            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(16);
        text-align: center;
    }

    &-title {
        @include font-face($futuraBK, style('normal'), size(24), weight('normal'), line-height(34, 24));
        color: $black;
    }

    &-text {
        @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(26, 16));
        color: $primary;

        @include breakpoint(mobile768) {
            @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
        }
    }

    .link {
        @include flex-center-vert;

        .icon {
            @include square(length(20));
            @include flex-center;
            overflow: hidden;
        }

        .text {
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(24, 16));
            color: $black;
        }
    }
}

// FEATURE STYLE END

// CARD-BRAND START

.cardbrand {
    @include flex-center-column;
    gap: length(28);
    text-align: center;

    &-header {
        overflow: hidden;
        max-height: length(580);
        @include flex-center;

        img {
            max-width: 100%;
            object-fit: contain;
            @include transitiontransform;
            background: rgba($black, 0.03);

            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(15);

        .brandtitle {
            @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(38, 30));
            color: $primary;
        }

        .brandinfo {
            @include flex-center-column;
            gap: length(32);
            max-width: length(706);

            .brandtext {
                @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(26, 16));
                color: $secondary;

                @include breakpoint(mobile768) {
                    @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
                }
            }
        }

        .links {
            @include flex-center-column;
            gap: length(8);

            @include breakpoint(mobile500) {
                flex-direction: row;
                gap: length(10);
            }

            .link {
                @include flex-center-vert;

                .icon {
                    @include square(length(20));
                    @include flex-center;
                    overflow: hidden;
                }

                .text {
                    @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.5, 15));
                    color: $black;
                }
            }
        }
    }
}

// CARD-BRAND END

/**=====================================================**
                BESPOKE-CARDS
=======================================================**/

// CARD-SLIDER START
.cardslider {
    @include flex-center-column;
    gap: length(24);
    text-align: center;
    @include transitions;

    &-header {
        max-width: length(423);
        height: length(366);
        @include flex-center;
        position: relative;
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.1));
            }
        }

        .linkbox {
            position: absolute;
            @include wh100;
            background: rgba($black, 0.61);
            @include flex-center;
            opacity: 0;
            visibility: hidden;
            @include transitions;

            .sliderlink {
                padding: length(10) length(38);
                @include setBgColor($white, $black);
                text-align: center;
                text-transform: uppercase;
                @include transitiontransform;

                @include hover {
                    @include setBgColor($black, lighten($primary, 60%));
                    @include transform(scale(0.9));
                }
            }
        }
    }

    &-body {
        .slidertext {
            @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(24, 16));
            color: $secondary;

            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
            }
        }
    }

    @include hover {
        .linkbox {
            opacity: 1;
            visibility: visible;
        }
    }
}

// CARD-SLIDER END


// CARD-CAPTION START

.cardcaption {
    @include wh100;
    @include flex-center-column;
    gap: length(14);
    text-align: center;

    &-header {
        @include flex-center-column;

        .icon {
            @include square(length(48));
            @include flex-center;
            overflow: hidden;
        }

        .captioninfo {
            .captiontext {
                @include font-face($playfairDisplay, style('italic'), size(20), weight('normal'), line-height(34.1, 20));
                color: $textTestimonial;
            }
        }
    }

    &-body {
        @include flex-center;

        .author {
            max-width: length(120);

            .authorname {
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(23.8, 14));
                color: $primary;
            }
        }
    }
}

// CARD-CAPTION END

// CARD-LINK START

.cardlink {
    max-width: length(424);
    height: length(372);
    @include flex-center;
    position: relative;
    overflow: hidden;

    img {
        @include wh100;
        object-fit: cover;
        @include transitiontransform;
    }

    &-details {
        @include flex-center;
        align-items: flex-end;
        position: absolute;
        top: 0;
        left: 0;
        padding: length(40);
        opacity: 0;
        visibility: hidden;
        @include transitions;

        @include wh100;

        .info {
            max-width: length(330);
            min-height: length(147);
            padding: length(32);
            background: rgba($white, 0.94);
            box-shadow: $box-shadow-1;
            @include flex-center;
            text-align: center;

            .infotext {
                @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(24, 16));
                color: $primary;

                @include breakpoint(mobile768) {
                    @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
                }
            }
        }
    }

    @include hover {
        img {
            @include transform(scale(1.1));
        }

        .cardlink-details {
            opacity: 1;
            visibility: visible;
        }
    }
}

// CARD-LINK END

/**=====================================================**
                    DIMOND-CARDS
=======================================================**/

// CARD-SLIDER START
.diamondshopcard {
    @include flex-center-column;
    gap: length(8);
    text-align: center;
    @include transitions;

    &-thumbnail {
        width: length(114);
        height: length(117);
        @include border(solid, 1, $dimondBorder);
        @include flex-center;
        padding: length(16);
        overflow: hidden;

        img {
            @include square(82);
            object-fit: contain;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.1));
            }
        }
    }

    &-info {
        .diamondshopcardtitle {
            @include font-face($futuraBK, style('normal'), size(17), weight('normal'), line-height(22.1, 17));
            color: $black;
        }
    }

    @include hover {}
}

// CARD-SLIDER END

// CARD-DISCOVER START
.carddiscover {
    @include flex-center-column;

    &-header {
        @include w100;
        @include square(length(200));
        @include flex-center;
        overflow: hidden;

        img {
            object-fit: contain;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.05));
            }
        }

    }

    &-body {
        @include flex-center-column;
        text-align: center;

        .discovertitle {
            @include font-face($futuraBK, style('normal'), size(18), weight('medium'), line-height(30.6, 18));
            color: $primary;
        }

        .discovertext {
            @include font-face($futuraBK, style('normal'), size(14), weight('medium'), line-height(23.8, 14));
            color: $secondary;
            margin-bottom: length(12);
        }

        .discoverlink {
            @include font-face($jost, style('normal'), size(12), weight('medium'), line-height(19.2, 12));
            text-transform: uppercase;
            letter-spacing: length(1.44);
            color: $black;
            text-decoration: underline;

            @include hover {
                text-decoration: none;
            }
        }
    }
}

// CARD-DISCOVER END

// CARD-JEWEL START

.cardjewel {
    @include flex-center-column;
    text-align: center;
    gap: length(20);

    &-header {
        @include w100;
        @include flex-center;
        height: length(279);
        @include transition(transform 0.5s ease);
        transform-style: preserve-3d;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;
            background: rgba($black, 0.03);

            @include hover {
                @include transform(scale(1.075));
            }
        }

        .front,
        .back {
            position: absolute;
            @include wh100;
            @include flex-center;

            /* Safari */
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow: hidden;
            transition: 1s;

            img {
                @include wh100;
                object-fit: contain;
                @include transitiontransform;
                background: rgba($black, 0.03);

                @include hover {
                    @include transform(scale(1.075));
                }
            }
        }

        .back {
            @include transform(rotateY(-180deg));
            z-index: 2;
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(4);
        padding: length(0) length(20);

        .jeweltitle {
            @include font-face($futuraBK, style('normal'), size(23), weight('medium'), line-height(36, 23));
            color: $black;
        }

        .jeweltext {
            @include font-face($futuraBK, style('normal'), size(16), weight('medium'), line-height(26, 16));
            color: $secondary;

            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(31, 18));
            }
        }
    }

    @include hover {
        .cardjewel-header {
            @include transform(rotateY(-180deg));
        }
    }
}

// CARD-JEWEL END

// CARD-PRODUCT-ABOUT START

.card-prodabout {
    @include flex-center-column;
    gap: length(22);

    &-header {
        @include w100;
        @include flex-center;
        height: length(400);
        @include transitiontransform;
        overflow: hidden;

        @include breakpoint(tab992) {
            height: length(500);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.05));
            }
        }
    }

    &-body {
        @include flex-center-column;
        text-align: center;
        gap: length(22);

        .prodabout-title {
            @include font-face($playfairDisplay, style('normal'), size(24), weight('normal'), line-height(32, 24));
            color: $primary;

            @include breakpoint(tab992) {
                @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
            }
        }

        .prodabout-text {
            @include font-face($futuraBK, style('normal'), size(15), weight('medium'), line-height(25.58, 15));
            color: $secondary;
        }

        .btn-more {
            padding: length(12) length(32);
            @include flex-center;
            @include setBgColor($white, $black);
            @include border(solid, 2, $primary);
            @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(19.2, 12));
            text-transform: uppercase;
            text-align: center;
            @include transitions;

            @include hover {
                @include setBgColor($primary, $white);
            }
        }
    }

    @include hover {
        .cardjewel-header {
            @include transform(rotateY(-180deg));
        }
    }
}

// CARD-PRODUCT-ABOUT END

// CARD-VERTICAL START

.card-vertical {
    @include flex-center-column;
    gap: length(12);
    @include flex-center;
    width: calc((100% / 2) - .5rem);
    @include transitions;

    @include breakpoint(mobile768) {
        width: calc((100% / 3) - 1.5rem);
    }

    @include breakpoint(tab992) {
        width: calc((100% / 4) - 1.5rem);
    }

    @include breakpoint(laptop1400) {
        width: calc((100% / 5) - 1.5rem);
    }

    &-header {
        position: relative;

        .card-thumbnail {
            overflow: hidden;
            position: relative;
            height: length(350);

            img {
                @include wh100;
                object-fit: cover;
                @include transitiontransform;

                @include hover {
                    @include transform(scale(1.05));
                }
            }
        }

        .btn-wishlist {
            position: absolute;
            top: length(16);
            right: length(16);
            @include square(length(32));
            @include flex-center;
            overflow: hidden;
            @include transparent-button;
            @include transitions;

            i {
                color: $textSchedule;
                font-size: length(48);
                font-weight: 600;
            }

            @include hover {

                i {
                    color: $primary;
                }

                // svg {
                //     path {
                //         stroke: $primary
                //     }
                // }
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(16);

        .cardinfo {
            @include flex-center-column;
            gap: length(8);
            text-align: center;

            .title {
                @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(24, 15));
                color: $primary;
            }

            .price {
                @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(24, 15));
                color: $primary;
            }

            .size {
                @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(24, 15));
                color: $primary;
            }
        }

        .card-buttons {
            @include flex-center;
            overflow: hidden;
            gap: length(10);

            .btn-card {
                @include transparent-button;
                padding: length(12) length(32);
                @include flex-center;
                @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(19.2, 12));
                text-align: center;
                @include transitions;
            }

            .btn-bordered {
                @include border(solid, 2, $primary);
                @include setBgColor($white, $primary);

                @include hover {
                    @include setBgColor($primary, $white);
                }
            }

            .btn-filled {
                @include border(solid, 2, $primary);
                @include setBgColor($primary, $white);

                @include hover {
                    @include setBgColor($white, $primary);
                }
            }
        }
    }
}

// CARD-VERTICAL END

// CARD-HORIZONTAL START

// .card-horizontal {}

// CARD-HORIZONTAL END

// HOMEPRODUCT START

.productlink {
    display: block;
    @include w100;
}

.homeproduct {
    &-header {
        @include w100;
        height: length(334);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(0.95));
            }
        }
    }

    &-body {
        padding: length(40);
        @include flex-center-column;
        gap: length(24);
        text-align: center;

        .productinfos {
            @include flex-center-column;
            gap: length(8);

            .product-title {
                color: $primary;
                @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
            }

            .product-type {
                color: $secondary;
                @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(27.2, 16));
            }
        }

        .product-price {
            color: $black;
            @include font-face($futuraBK, style('normal'), size(24), weight('normal'), line-height(32, 24));
            letter-spacing: length(-0.32);
        }
    }
}

// HOMEPRODUCT END

.card-slider {
    @include flex-column;
    gap: length(32);
    
    .slider-thumbnail {
        @include w100;
        height: length(310);

        img {
            @include wh100;
            object-fit: cover;
        }
    }

    .slider-body {
        @include flex-center;

        .slidert-title {
            color: $primary;
            @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
            text-align: center;
        }
    }
}

.card-findmore {
    @include flex-column;
    gap: length(40);

    &-header {
        @include w100;
        height: auto;
        overflow: hidden;
        
        @include breakpoint(mobile575) {
            height: length(327);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.1));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(60);

        .findmore-details {
            @include flex-center-column;
            gap: length(24);
            text-align: center;
            padding: length(0) length(14);

            .findmore-title {
                color: $primary;
                @include font-face($playfairDisplay, style('normal'), size(20), weight('normal'), line-height(26, 20));
                            
                @include breakpoint(mobile768) {
                    @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
                }
            }

            .findmore-text {
                color: $secondary;
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(24, 14));
                            
                @include breakpoint(mobile768) {
                    @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(27.2, 16));
                }
            }
        }

        .morelink {
            @include flex-center;

            .findmore-link {
                padding: length(12) length(24);
                text-align: center;
                @include setBgColor($white, $black);
                @include border(solid, 2, $primary);
                @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.5, 15));
                @include transitions;

                @include hover {
                    @include setBgColor($primary, $white);
                }
            }
        }
    }
}

.card-order {
    @include flex-column;
    gap: length(32);
    padding-bottom: length(24);
    @include border-single(bottom, dashed, 1, $orderBorder);

    &:last-child {
        border-bottom: 0;
        padding-bottom: 0;
    }

    &-header {
        @include flex-between;
        align-items: flex-start;

        .orderinfo {
            @include flex-column;
            gap: length(6);

            .orderid {
                color: $primary;
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(20.68, 14));
                letter-spacing: length(-0.32);
                
                @include breakpoint(mobile575) {
                    @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(23.68, 18));
                }
            }

            .orderdate {
                color: $secondary;
                @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(22.58, 12));
                
                @include breakpoint(mobile575) {
                    @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.58, 15));
                }
            }
        }
    }

    &-body {
        @include flex-center-vert;
        gap: length(32);

        .order-thumb {
            width: length(90);
            height: length(96);
            @include flex-center;
            overflow: hidden;

            img {
                @include wh100;
                object-fit: cover;
            }
        }

        .orderdescript {
            .title {
                color: $black;
                @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(28.8, 18));
            }

            .model {
                color: $secondary;
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(22.4, 14));
            }

            .price {
                color: $black;
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(22.4, 14));
            }
        }
    }
}

.card-review {
    @include flex-column;
    gap: length(16);
    padding: length(20);
    @include border(solid, 1, $diamondLabelBorder);
    
    @include breakpoint(mobile768) {
        padding: length(40);
    }

    &-header {
        @include flex-column;
        gap: length(4);

        .reviewer-name {
            color: $textDark;
            @include font-face($futuraBK, style('normal'), size(20), weight('semibold'), line-height(26, 20));
            letter-spacing: length(-0.32);
        }

        .reviewer-designation {
            color: $primary;
            @include font-face($futuraBK, style('normal'), size(13), weight('normal'), line-height(21.58, 13));
    
            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.58, 15));
            }
        }
    }

    &-body {
        .reviewtext {
            color: $secondary;
            @include font-face($futuraBK, style('normal'), size(13), weight('normal'), line-height(21.58, 13));
            text-align: justify;
    
            @include breakpoint(mobile768) {
                @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.58, 15));
            }
        }
    }
}