/**=====================================================**
                        HOME-CARDS
=======================================================**/
// PRODUCT STYLE START

.product {
    @include w100;
    @include flex-center-column;
    gap: length(18);

    &-header {
        @include w100;
        height: length(200);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile575) {
            height: length(280);
        }

        @include breakpoint(mobile768) {
            height: length(314);
        }

        @include breakpoint(tab992) {
            height: length(349);
        }

        img {
            @include wh100;
            object-fit: contain;
            @include transitiontransform;
            background: rgba($black, 0.03);
        
            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        text-align: center;
    }
    
    &-title {
        @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(28.8, 18));
        color: $black;

        @include hover {
            color: $secondary;
        }
    }

    &-category {
        @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(22.4, 14));
        color: $primary;
    }

    &-price {
        @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(20.4, 12));
        color: $black;
        
        @include breakpoint(mobile480) {
            @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(22.4, 14));
        }
    }
}

// PRODUCT STYLE END

// PRODUCTCARD STYLE START

.cardproduct {
    @include w100;
    @include flex-center-column;
    gap: length(18);

    &-header {
        @include w100;
        height: length(280);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile575) {
            height: length(314);
        }

        @include breakpoint(mobile768) {
            height: length(314);
        }

        @include breakpoint(tab992) {
            height: length(420);
        }

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;
            background: rgba($black, 0.03);
        
            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(12);
        text-align: center;
    }
    
    &-title {
        @include font-face($futuraBK, style('normal'), size(18), weight('normal'), line-height(28.8, 18));
        color: $black;

        @include hover {
            color: $secondary;
        }
    }

    &-text {
        @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(22.4, 14));
        color: $primary;
        min-height: length(67);
    }
}

// PRODUCTCARD STYLE END

// FEATURE STYLE START

.feature {
    @include w100;
    @include flex-center-column;
    gap: length(18);

    &-header {
        @include w100;
        height: length(200);
        @include flex-center;
        overflow: hidden;

        @include breakpoint(mobile575) {
            height: length(280);
        }

        @include breakpoint(mobile768) {
            height: length(314);
        }

        img {
            @include wh100;
            object-fit: contain;
            @include transitiontransform;
            background: rgba($black, 0.03);
        
            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(8);
        text-align: center;
    }
    
    &-title {
        @include font-face($futuraBK, style('normal'), size(20), weight('normal'), line-height(34, 20));
        color: $black;
    }

    &-text {
        @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(22.4, 14));
        color: $primary;
    }
}

// FEATURE STYLE END

// CARD-BRAND START

.cardbrand {
    @include flex-center-column;
    gap: length(28);
    text-align: center;

    &-header {
        overflow: hidden;
        max-height: length(580);
        @include flex-center;

        img {
            max-width: 100%;
            object-fit: contain;
            @include transitiontransform;
            background: rgba($black, 0.03);
        
            @include hover {
                @include transform(scale(1.075));
            }
        }
    }

    &-body {
        @include flex-center-column;
        gap: length(15);

        .brandtitle {
            @include font-face($playfairDisplay, style('normal'), size(26), weight('normal'), line-height(33.8, 26));
            color: $primary;
        }

        .brandinfo {
            @include flex-center-column;
            gap: length(32);

            .brandtext {
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(23.8, 14));
                color: $secondary;
            }
        }
    }
}

// CARD-BRAND END