/**=====================================================
                FOOTER SECTION START
=====================================================**/
.footer {
    padding: length(80) length(20) length(24);

    &-info {
        @include flex-column;
        gap: length(32);

        @include breakpoint(phone575) {
            align-items: center;
        }

        .footerlogo {
            width: length(165);
            height: length(56);
            overflow: hidden;
            @include flex-center;

            img {
                max-width: 100%;
                object-fit: contain;
            }
        }

        .footertext {
            @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(16.9, 12));
            color: $footerText;

            @include breakpoint(mobile480) {
                @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(27.2, 16));
            }
        }

        .footerbrands {
            @include flex-center-vert;

            .thumbbox {

                @include breakpoint(mobile768) {
                    padding: length(10) length(15);
                }
            }

            .thumbbox {}

            .footbrandthumb {
                max-width: length(65);

                @include breakpoint(laptop1400) {
                    max-width: length(85);
                }

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    &-details {
        @include flex-column;

        @include breakpoint(phone575) {
            align-items: center;
            text-align: center;
        }

        .footinfo {
            @include flex-column;
            gap: length(24);

            @include breakpoint(phone575) {
                align-items: center;
            }

            .footertitle {
                @include font-face($futuraBK, style('normal'), size(16), weight('normal'), line-height(25.92, 16));
                color: $black;
                text-transform: uppercase;
            }

            .footerlist-sociallist {
                @include flex-column;
                gap: length(18);

                @include breakpoint(phone575) {
                    align-items: center;
                }

                .sociallist {
                    @include list-horizontal;
                    gap: length(22);
                }
            }

            .footerlist {
                @include list-vertical;
                gap: length(12);

                &-link {
                    @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(24, 14));
                    color: $footerText;
                    position: relative;
                    @include transitions;

                    &::before {
                        content: "";
                        position: absolute;
                        bottom: length(1);
                        left: 0;
                        height: length(1);
                        width: 0;
                        background: $footerText;
                        transition: .5s;
                    }

                    @include hover {
                        color: $black;

                        &::before {
                            @include w100;
                        }
                    }
                }
            }
        }
    }

    .divider {
        @include w100;
        height: length(1);
        background: $dividerBg;
        margin: length(44) length(0) length(22);
    }

    .copyright {
        @include flex-center-column;
        gap: length(14);

        @include breakpoint(mobile768) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .privacy-policy {
            .copyrightlink {
                @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(18.2, 14));
                color: $footerText;
                position: relative;
                @include transitions;

                &::before {
                    content: "";
                    position: absolute;
                    bottom: length(1);
                    left: 0;
                    height: length(1);
                    width: 0;
                    background: $footerText;
                    transition: .5s;
                }

                @include hover {
                    color: $black;

                    &::before {
                        @include w100;
                    }
                }
            }
        }

        &-text {
            @include font-face($futuraBK, style('normal'), size(14), weight('normal'), line-height(18.2, 14));
            color: $primary;

            @include breakpoint(phone480) {
                @include font-face($futuraBK, style('normal'), size(12), weight('normal'), line-height(20, 12));
            }
        }

        .paymentinfo {
            @include flex-center-vert;
            gap: length(8);

            .payment-thumb {
                img {
                    @include wh100;
                }
            }
        }
    }
}