// UPLOAD MEDALLION MODAL START

.modal {
    &-content {
        @include radius(0);
        overflow: hidden;
        border: none;
    }

    &-header {
        border-bottom: length(0);
        padding: length(32);

        @include breakpoint(phone575) {
            padding: length(16);
        }

        .btn-close {
            @include transparent-button;
            @include square(length(24));
            @include flex-center;
            opacity: 1;
            overflow: hidden;
            margin-left: auto;
            padding: length(0);
            @include transitiontransform;

            svg {
                @include wh100;
            }

            &:focus {
                outline: none;
                box-shadow: none;
            }

            @include hover {
                @include transform(rotate(90deg));
            }
        }
    }

    &-body {
        @include flex-column;
        gap: length(40);

        .meeting-contactdescript {
            display: flex;
            flex-direction: column;

            @include breakpoint(tab992) {
                flex-direction: row;
            }

            .meeting {
                @include flex-column;
                gap: length(16);
                @include w100;
                padding: length(24);

                @include breakpoint(tab992) {
                    width: 50%;
                }

                &-header {
                    .meetingtitle {
                        @include font-face($futuraBK, style('normal'), size(18), weight('medium'), line-height(22.5, 18));
                        color: $black;
                    }
                }

                &-body {
                    @include flex-column;
                    gap: length(32);

                    .interested {
                        @include flex-column;
                        gap: length(20);
                        
                        .inputlabel {
                            @include font-face($futuraBK, style('normal'), size(15), weight('medium'), line-height(19.95, 15));
                            color: $black;
                        }

                        .interestedbox {
                            @include flex-column;
                            gap: length(12);

                            .interested {
                                input[type="checkbox"] {
                                    &:checked ~ .interestlabel {
                                        color: $black;

                                        &::before {
                                            border-color: $textSuccess;
                                            background: $textSuccess;
                                        }

                                        &::after {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }

                                .interestlabel {
                                    position: relative;
                                    @include font-face($futuraBK, style('normal'), size(14), weight('medium'), line-height(22.4, 14));
                                    color: $primary;
                                    @include flex-center-vert;
                                    padding-left: length(30);
                                    cursor: pointer;

                                    &::before {
                                        content: '';
                                        position: absolute;
                                        top: 50%;
                                        left: length(0);
                                        @include square(length(18));
                                        @include transform(translateY(-50%));
                                        @include border(solid, 1, $black);
                                        @include transitiontransform;
                                    }

                                    &::after {
                                        content: '';
                                        position: absolute;
                                        top: 45%;
                                        left: length(7);
                                        width: length(4);
                                        height: length(10);
                                        @include transform(translateY(-50%) rotate(45deg));
                                        @include border(solid, 1, $white);
                                        border-top: none;
                                        border-left: none;
                                        opacity: 0;
                                        visibility: hidden;
                                        @include transitiontransform;
                                    }
                                }
                            }
                        }
                    }

                    .infobox {
                        @include flex-column;
                        gap: length(8);
                        
                        .inputlabel {
                            @include font-face($futuraBK, style('normal'), size(15), weight('medium'), line-height(18, 15));
                            color: $black;
                            letter-spacing: length(0.08);
                        }
                        
                        .note {
                            @include font-face($futuraBK, style('normal'), size(15), weight('medium'), line-height(18, 15));
                            color: $black;
                            letter-spacing: length(0.08);
                        }

                        .datetimebox {
                            @include flex-column;
                            gap: length(32);

                            .inputfield {
                                padding: length(16);
                                @include border(solid, 1, $inputBorder);
                                @include w100;
                                @include font-face($futuraBK, style('normal'), size(15), weight('medium'), line-height(18, 15));
                                color: $black;
                                letter-spacing: length(0.08);
                                @include transitions;

                                &:focus {
                                    border-color: $black;
                                }
                            }

                            .form-select {
                                padding: length(16);
                                border: none;
                                @include radius(0);
                                @include border(solid, 1, $inputBorder);
                                @include w100;
                                @include font-face($futuraBK, style('normal'), size(15), weight('medium'), line-height(18, 15));
                                color: $black;
                                letter-spacing: length(0.08);
                                @include transitions;

                                &:focus {
                                    border-color: $black;
                                    box-shadow: none;
                                    outline: none;
                                }
                            }
                        }
                    }
                }
            }

            .contactdescript {
                @include w100;
                padding: length(24);
                @include flex-column;
                gap: length(32);
                @include border-single(top, solid, 1, $formBorder);

                @include breakpoint(tab992) {
                    width: 50%;
                    @include border-single(left, solid, 1, $formBorder);
                    border-top: none;
                }

                .contactdescripttitle {
                    @include font-face($futuraBK, style('normal'), size(18), weight('medium'), line-height(22.5, 18));
                    color: $black;
                    @include w100;
                }
                    
                .contactdescript-info {
                    @include w100;
                    @include flex-column;
                    gap: length(16);

                    .bio {
                        @include w100;
                        @include flex-column;
                        gap: length(8);

                        label {
                            @include font-face($futuraBK, style('normal'), size(14), weight('medium'), line-height(22.4, 14));
                            color: $primary;
                        }

                        .inputfield {
                            padding: length(16);
                            @include border(solid, 1, $inputBorder);
                            @include w100;
                            @include font-face($futuraBK, style('normal'), size(15), weight('medium'), line-height(18, 15));
                            color: $black;
                            letter-spacing: length(0.08);
                            @include transitions;

                            &:focus {
                                border-color: $black;
                            }
                        }
                    }

                    .checkbio {
                        @include w100;

                        input[type="checkbox"] {
                            &:checked ~ .confirmlabel {
                                color: $black;

                                &::before {
                                    border-color: $textSuccess;
                                    background: $textSuccess;
                                }

                                &::after {
                                    opacity: 1;
                                    visibility: visible;
                                }
                            }
                        }

                        .confirmlabel {
                            position: relative;
                            @include font-face($futuraBK, style('normal'), size(14), weight('medium'), line-height(22.4, 14));
                            color: $primary;
                            padding-left: length(30);
                            cursor: pointer;
                            width: 100%;

                            &::selection {
                                background: $white;
                            }

                            .link {
                                @include font-face($futuraBK, style('normal'), size(14), weight('medium'), line-height(22.4, 14));
                                color: $black;
                                text-decoration: underline;
                                @include transitions;

                                &::selection {
                                    background: $white;
                                }

                                @include hover {
                                    text-decoration: none;
                                }
                            }

                            &::before {
                                content: '';
                                position: absolute;
                                top: 50%;
                                left: length(0);
                                @include square(length(18));
                                @include transform(translateY(-50%));
                                @include border(solid, 1, $black);
                                @include transitiontransform;
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top: 45%;
                                left: length(7);
                                width: length(4);
                                height: length(10);
                                @include transform(translateY(-50%) rotate(45deg));
                                @include border(solid, 1, $white);
                                border-top: none;
                                border-left: none;
                                opacity: 0;
                                visibility: hidden;
                                @include transitiontransform;
                            }
                        }
                    }
                }
            }
        }

        .submitbox {
            padding-bottom: length(60);

            .btn-submit {
                padding: length(10) length(28);
                text-align: center;
                @include setBgColor($white, $black);
                @include border(solid, 1, $black);
                @include font-face($futuraBK, style('normal'), size(12), weight('medium'), line-height(19.2, 12));
                @include transitions;
                text-transform: uppercase;

                @include hover {
                    @include setBgColor($black, $white);
                }
            }
        }
    }
}

// UPLOAD MEDALLION MODAL END


.authmodal {
    .modal-content {
        @include radius(8);
    }

    .modal-body {
        padding: length(34);

        .verify {
            @include flex-center-column;
            gap: length(32);

            &-header {
                @include flex-center-column;
                gap: length(18);
                text-align: center;

                .icon {
                    @include square(length(50));
                    @include flex-center;
                    overflow: hidden;

                    svg {
                        @include wh100;
                    }
                }

                .verifytitle {
                    color: $primary;
                    @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
                }

                .verifytext {
                    color: $black;
                    @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.58, 15));
                }
            }

            &-body {
                @include flex-center-column;
                gap: length(32);
                @include w100;

                .inputbox {
                    @include flex-column;
                    gap: length(12);
                    @include w100;

                    .inputlabel {
                        color: $secondary;
                        @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(18, 15));
                        letter-spacing: length(0.08);
                        text-transform: uppercase;
                    }

                    .inputfield {
                        @include border(solid, 1, $secondary);
                        padding: length(15) length(17);
                        color: $primary;
                        @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(18, 15));
                        letter-spacing: length(0.08);

                        &::placeholder {
                            color: $textStepLink;
                        }
                    }
                }

                .submitbox {
                    @include w100;
                }

                .btn-submit {
                    padding: length(12);
                    @include w100;
                    @include setBgColor($checkboxbg, $white);
                    border: none;
                    @include font-face($futuraBK, style('normal'), size(12), weight('medium'), line-height(19.2, 12));

                    @include hover {
                        background: $secondary;
                    }
                }
            }

            &-footer {
                .text {
                    color: $secondary;
                    @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(24, 15));

                    .link {
                        color: $secondary;
                        @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(24, 15));
                        @include transitions;

                        @include hover {
                            color: $black;
                        }
                    }
                }
            }
        }

        .lost {
            @include flex-center-column;
            gap: length(32);
            
            &-header {
                @include flex-center-column;
                gap: length(18);
                text-align: center;

                .lost-title {
                    color: $primary;
                    @include font-face($playfairDisplay, style('normal'), size(30), weight('normal'), line-height(39, 30));
                }

                .lost-text {
                    color: $black;
                    @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(25.58, 15));
                }
            }
            

            &-body {
                @include flex-center-column;
                gap: length(32);
                @include w100;

                .inputbox {
                    @include w100;
                }

                .inputinfo {
                    @include flex-column;
                    gap: length(12);
                    @include w100;

                    .inputlabel {
                        color: $secondary;
                        @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(18, 15));
                        letter-spacing: length(0.08);
                        text-transform: uppercase;
                    }

                    .inputfield {
                        @include border(solid, 1, $secondary);
                        padding: length(15) length(17);
                        color: $primary;
                        @include font-face($futuraBK, style('normal'), size(15), weight('normal'), line-height(18, 15));
                        letter-spacing: length(0.08);

                        &::placeholder {
                            color: $textStepLink;
                        }
                    }
                }

                .submitbox {
                    @include w100;
                }

                .btn-submit {
                    padding: length(12);
                    @include w100;
                    @include setBgColor($checkboxbg, $white);
                    border: none;
                    @include font-face($futuraBK, style('normal'), size(12), weight('medium'), line-height(19.2, 12));

                    @include hover {
                        background: $secondary;
                    }
                }
            }
        }
    }
}