.preloader {
    @include flex-center;
    position: fixed;
    @include w100;
    height: 100vh;
    overflow: hidden;
    z-index: 9999;
    background: $primary;
}


polygon {
    stroke: lighten($secondary, 15%);
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    animation: 2s appear infinite forwards;
    transform-origin: 50% 50%;
  }
  
@keyframes appear {
    from {
        stroke-dashoffset: 500;
    }
    to {
        stroke-dashoffset: 0;
        @include transform(rotate(360deg));
    }
}